@{
    ViewBag.Title = "About";
}
    <section class="success" id="about">
        <div class=" container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Hello my name is Chris Wahl, currently I am a student at Dakota State University pursuing my Bachelors Degree in Computer Science, I will be graduating in December of 2016. My passion so far in my schooling has been back end Web Development.
                       During my schooling I have been involved in several web development projects out side of class. Most notably I worked on a web application for the Governors Office of Economic Development, this application is used to calculate your.</p>
                </div>
            </div>
        </div>
    </section>
   