@{
    ViewBag.Title = "Email";
}
@model MyProject_Website.Models.EmailInfo

<section class="message">
    <div class="container">
        <div class="row">
            <p>Thank You, @Html.DisplayFor(x => x.name).</p>

            @if (Model.error.ToString() == "No Error")
            {
                <p>
                    Your message has been sent!
                </p>
            }
            else
            {
                <p><b>Sorry there was a problem sending your message, Please try again later.</b></p>

            }
        </div>
    </div>
</section>