@{
    ViewBag.Title = "Projects";
}

<section id="portfolio">
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Projects</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                   
                    <h2>Project 1</h2>
                </a>
            </div>
            <div class="col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    
                    <h2>Project 2</h2>
                </a>
            </div>
        </div>
    </div>
</section>